extend ../layout.pug

block content 
   script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer")
   script(src="/js/tweets/tweet.js")
   div(class="d-flex flex-row content mx-auto mt-2")
      include ../includes/profile
      div(class="flex-fill d-flex flex-column" id="tweet-list-container")
         include tweets-list
         