extend ../layout.pug 

block content 
   div(class="d-flex flex-row content justify-content-center mx-auto mt-2")
      form(class="card w-50 mt-5" method="post" action= "/users/signup")
         div(class="card-header") Inscription 
         div(class="card-body")
            div(class="form-group")
               label Nom 
               input(class="form-control" type="text" name="username")
            div(class="form-group mt-3")
               label Email 
               input(class="form-control" type="email" name="email")
            div(class="form-group mt-3")
               label Mot de passe 
               input(class="form-control" type="password" name="password")
            if errors 
               ul(class="my-2")
                  each error in errors 
                     li(class="text-danger")= error 
            div(class="w-100 mt-3")
               input(type="submit" value="Envoyer" class="btn btn-primary d-block ms-auto")